<section class="section text-center" id="work">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="text-center mx-auto section-main-title">
          <h2>Our <span class="fw-bold">Work</span></h2>
          <div class="main-title-border">
            <i class="mdi mdi-asterisk"></i>
          </div>
          <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12">
        <ul class="text-center list-unstyled list-inline mb-0 text-capitalize work_menu" id="menu-filter">
          <li class="list-inline-item">
            <a [class.active]="activeFilter === '*'" (click)="setActiveFilter('*')">All</a>
          </li>
          <li class="list-inline-item">
            <a [class.active]="activeFilter === 'seo'" (click)="setActiveFilter('seo')">Seo</a>
          </li>
          <li class="list-inline-item">
            <a [class.active]="activeFilter === 'webdesign'" (click)="setActiveFilter('webdesign')">Webdesign</a>
          </li>
          <li class="list-inline-item">
            <a [class.active]="activeFilter === 'work'" (click)="setActiveFilter('work')">Work</a>
          </li>
          <li class="list-inline-item">
            <a [class.active]="activeFilter === 'wordpress'" (click)="setActiveFilter('wordpress')">Wordpress</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-5 work-filter">
      <div class="col-lg-4" *ngFor="let work of filteredWorks">
        <div class="work_img_box rounded" [ngClass]="work.categories">
          <a class="img-zoom" href="{{work.imageUrl}}"></a>
          <div class="work_images">
            <img [src]="work.imageUrl" alt="image" class="img-fluid mx-auto d-block">
            <div class="work_overlay">
              <h4>{{ work.title }}</h4>
              <h6>{{ work.description }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
