<section class="home-slider creative" id="home">
  <div class="swiper home-swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-sliders d-flex align-items-center"
            style="background-image: url('assets/images/home-bg.jpg'); background-size: cover; background-position: center;"
            style="height: 1200px; background-size: cover; background-position: center;">
            <div class="bg-overlay"></div>
            <div class="container z-index">
              <div class="row justify-content-center">
                <div class="col-lg-9 indexs-banner">
                  <div class="text-center text-white">
                    <h4 class="home-subtitle mb-4">Hello & Welcome</h4>
                    <h1 class="header_title mb-0 mt-3">
                      I Am <span class="fw-bold">Anand Acharya.</span>
                    </h1>
                    <ul class="social_home list-unstyled text-center pt-4">
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-dribbble"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-google-plus"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a>
                      </li>
                    </ul>
                    <div class="header_btn">
                      <a href="javascript:void(0)" class="btn btn-outline-custom btn-rounded mt-4">Download
                        CV</a>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </div>
          <!--end swiper-slide-->
        </div>

        <div class="swiper-slide">
          <div class="swiper-sliders d-flex align-items-center"
            style="background-image: url('assets/images/home-bg.jpg'); background-size: cover; background-position: center;"
            style="height: 1200px; background-size: cover; background-position: center;">
            <div class="bg-overlay"></div>
            <div class="container z-index">
              <div class="row justify-content-center">
                <div class="col-lg-9 indexs-banner">
                  <div class="text-start text-white">
                    <h4 class="home-subtitle mb-4">Hello & Welcome</h4>
                    <h1 class="header_title mb-0 mt-3">
                      I Am <span class="fw-bold">A Designer.</span>
                    </h1>
                    <ul class="social_home list-unstyled text-start pt-4">
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-dribbble"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-google-plus"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a>
                      </li>
                    </ul>
                    <div class="header_btn">
                      <a href="javascript:void(0)" class="btn btn-outline-custom btn-rounded mt-4">Download
                        CV</a>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </div>
          <!--end swiper-slide-->
        </div>

        <div class="swiper-slide">
          <div class="swiper-sliders d-flex align-items-center"
            style="background-image: url('assets/images/home-bg.jpg'); background-size: cover; background-position: center;"
            style="height: 1200px; background-size: cover; background-position: center;">
            <div class="bg-overlay"></div>
            <div class="container z-index">
              <div class="row justify-content-center">
                <div class="col-lg-9 indexs-banner">
                  <div class="text-end text-white">
                    <h4 class="home-subtitle mb-4">Hello & Welcome</h4>
                    <h1 class="header_title mb-0 mt-3">
                      I Am <span class="fw-bold">A Developer.</span>
                    </h1>
                    <ul class="social_home list-unstyled text-end pt-4">
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-dribbble"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-google-plus"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a>
                      </li>
                    </ul>
                    <div class="header_btn">
                      <a href="javascript:void(0)" class="btn btn-outline-custom btn-rounded mt-4">Download
                        CV</a>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end container-->
          </div>
          <!--end swiper-slide-->
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>


  </div>
</section>
