        <!-- START CLIENT -->
        <section class="section bg-client" id="client">
          <div class="bg-overlay"></div>
          <div class="container z-index">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="text-center mx-auto text-white section-main-title">
                          <h2>Our <span class="fw-bold">Client</span></h2>
                          <div class="main-title-border">
                              <i class="mdi mdi-asterisk"></i>
                          </div>
                          <p class="mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      </div>
                  </div>
              </div>
              <div class="row mt-4 pt-4">
                  <div class="col-lg-12">
                      <div class="carousel slide">
                          <div class="carousel-inner">
                              <div class="carousel-item active text-white people_says text-center">
                                  <div class="people_icon">
                                      <i class="mbri-user"></i>
                                  </div>
                                  <div class="people_review_box mt-4">
                                      <p class="people_name text-white h5 fw-bold mb-0">Kirk McFall</p>
                                      <p class="h6">Google</p>
                                      <p class="people_review text-white mx-auto pt-3 mb-0">" The most well-known dummy text is the 'Lorem Ipsum', which is said originated the 16th century. This ancient dummy text is also  incomprehensible, of most European in Latin script."</p>
                                  </div>
                              </div>
                              <div class="carousel-item text-white people_says text-center">
                                  <div class="people_icon">
                                      <i class="mbri-user"></i>
                                  </div>
                                  <div class="people_review_box mt-4">
                                      <p class="people_name text-white h5 fw-bold mb-0">Edward Evans</p>
                                      <p class="h6">Google</p>
                                      <p class="people_review text-white mx-auto pt-3 mb-0">" The most well-known dummy text is the 'Lorem Ipsum', which is said originated the 16th century. This ancient dummy text is also  incomprehensible, of most European in Latin script."</p>
                                  </div>
                              </div>
                              <div class="carousel-item text-white people_says text-center">
                                  <div class="people_icon">
                                      <i class="mbri-user"></i>
                                  </div>
                                  <div class="people_review_box mt-4">
                                      <p class="people_name text-white h5 fw-bold mb-0">Antonio Hernandez</p>
                                      <p class="h6">Google</p>
                                      <p class="people_review text-white mx-auto pt-3 mb-0">" The most well-known dummy text is the 'Lorem Ipsum', which is said originated the 16th century. This ancient dummy text is also  incomprehensible, of most European in Latin script."</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END CLIENT -->

      <!-- START GREAT PEOPLE -->
      <section class="section bg-light">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="text-center mx-auto section-main-title">
                          <h2>Trusted by <span class="fw-bold">Great People</span></h2>
                          <div class="main-title-border">
                              <i class="mdi mdi-asterisk"></i>
                          </div>
                          <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      </div>
                  </div>
              </div>
              <div class="row mt-4 pt-4">
                  <div class="col-lg-2 mt-3">
                      <div class="logo_img">
                          <a href="javascript:void(0)">
                              <img src="assets/images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-2 mt-3">
                      <div class="logo_img">
                          <a href="javascript:void(0)">
                              <img src="assets/images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-2 mt-3">
                      <div class="logo_img">
                          <a href="javascript:void(0)">
                              <img src="assets/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-2 mt-3">
                      <div class="logo_img">
                          <a href="javascript:void(0)">
                              <img src="assets/images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-2 mt-3">
                      <div class="logo_img">
                          <a href="javascript:void(0)">
                              <img src="assets/images/clients/5.png" alt="logo-img" class="mx-auto img-fluid d-block">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-2 mt-3">
                      <div class="logo_img">
                          <a href="javascript:void(0)">
                              <img src="assets/images/clients/6.png" alt="logo-img" class="mx-auto img-fluid d-block">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END GREAT PEOPLE -->

      <!-- START SUBCRIBE  -->
      <section class="section">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="text-center mx-auto section-main-title">
                          <h2><span class="fw-bold">Subscribe</span> to Newsletter </h2>
                          <div class="main-title-border">
                              <i class="mdi mdi-asterisk"></i>
                          </div>
                          <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      </div>
                  </div>
              </div>
              <div class="row mt-4 pt-4">
                  <div class="col-lg-12">
                      <div class="text-center subcribe-newslatter mt-4">
                          <form class="mx-auto position-relative">
                              <input type="text" placeholder="Email" required>
                              <button type="submit" class="btn btn-custom">Subcribe</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- END SUBCRIBE -->
